@*@using Entities
@using Business

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Referencia</th>
            <th>Categoría</th>
        </tr>
    </thead>    
    <tbody>
        @foreach(var categoria in categories)
        {
            <tr>
                <td>@categoria.CategoryId</td>
                <td>@categoria.CategoryName</td>
                <th><a href="category/update/@categoria.CategoryId">Actualizar</a></th>
            </tr>
        }
    </tbody>
</table>

@code{   
    private List<CategoryEntity> categories = new List<CategoryEntity>();

    protected override async Task OnInitializedAsync()
    {
        categories = B_Category.CategoryList();
    }
}*@